.dialog-box {
    background-color: #292d3e;
    color: #ffffff;
    min-height: 200px;
    min-width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.toggle-dialog-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
}

.clickable {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/* Style for disabled button */
.disabled {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none;
    /* Disables click */
}