body {
    background-color: #292d3e;
    color: #ffffff;
    font-family: 'Jura'
}

.dialog-box {

    min-height: 200px;
    min-width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-dialog-btn {
    background: linear-gradient(180deg, #0A109A 0%, #010A3B 100%);
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
}

.warn {
    background: linear-gradient(180deg, #9a500a 0%, #010A3B 100%);
}

.bad {
    background: linear-gradient(180deg, #9a0a0a 0%, #010A3B 100%);
}

.ok {
    background: linear-gradient(180deg, #0a9a0f 0%, #010A3B 100%);
}

.clickable {
    background-color: #4CAF50;
    border-radius: 10px;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-family: Jura;

}

/* Style for disabled button */
.disabled {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none;
    /* Disables click */
}